<div class="right_col" role="main">
		  <div class="">
			<div class="page-title">
			  <div class="title_left">
				<h3>Add new products</h3>
			  </div>

			</div>
			<div class="clearfix"></div>

			<div class="row">
			  <div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
				  <div class="x_title">
					<h2>Add product</h2>
					<ul class="nav navbar-right panel_toolbox">
					  <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
					  </li>
					  <li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
						<ul class="dropdown-menu" role="menu">
						  <li><a href="#">Settings 1</a>
						  </li>
						  <li><a href="#">Settings 2</a>
						  </li>
						</ul>
					  </li>
					  <li><a class="close-link"><i class="fa fa-close"></i></a>
					  </li>
					</ul>
					<div class="clearfix"></div>
				  </div>
				  <div class="x_content">

					<form method="post" class="form-horizontal form-label-left" novalidate>
					  <span class="section">Product Info</span>
                        {{{message}}}
					  <div class="item form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Name <span class="required" style="color:red">*</span>
						</label>
						<div class="col-md-6 col-sm-6 col-xs-12">
						  <input id="name" class="form-control col-md-7 col-xs-12" data-validate-length-range="6" data-validate-words="2" name="name"  required type="text">
						</div>
					  </div>

					   <div class="item form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12">Type <span class="required" style="color:red">*</span>
						</label>
						<div class="col-md-6 col-sm-6 col-xs-6">
						  <select name="category" required class="select2_single form-control" tabindex="-1">
							<option value="Mo">Mobile phone</option>
							<option value="Ca">Camera</option>
							<option value="La">Laptop</option>
							<option value="He">Headphone</option>
						  </select>
						</div>
					  </div>
					  <div class="item form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12">Price <span class="required" style="color:red">*</span>
						</label>
						<div class="col-md-6 col-sm-6 col-xs-12">
						  <input type="number" id="number" name="price" required data-validate-minmax="10,1000" class="form-control col-md-7 col-xs-12">
						</div>
					  </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="image">Image <span class="required" style="color:red">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="image" class="form-control col-md-7 col-xs-12" data-validate-length-range="10" data-validate-words="2" name="image"  required type="text">
                            </div>
                        </div>

					  <div class="item form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12" for="telephone">Quantity <span class="required" style="color:red" >*</span>
						</label>
						<div class="col-md-6 col-sm-6 col-xs-12">
						  <input type="number" id="number" name="quantity" required data-validate-minmax="10,100" class="form-control col-md-7 col-xs-12">
						</div>
					  </div>
					  <div class="item form-group">
						<label class="control-label col-md-3 col-sm-3 col-xs-12" for="textarea">Description <span class="required" style="color:red">*</span></label>
						<div class="col-md-6 col-sm-6 col-xs-12">
						  <textarea id="textarea"  name="detail" class="form-control col-md-7 col-xs-12"></textarea>
						</div>
					  </div>
                        <div class="item form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nsx">Producer <span class="required" style="color:red">*</span>
                            </label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <input id="nsx" class="form-control col-md-7 col-xs-12" data-validate-length-range="10" data-validate-words="2" name="nsx"  value="" required type="text">
                            </div>
                        </div>
					  <div class="ln_solid"></div>
					  <div class="form-group">
						<div class="col-md-6 col-md-offset-3">
						  <button id="send" type="submit" class="btn btn-success">Submit</button>
						  <button  type="reset"   class="btn btn-primary">Reset</button>
                            <a href="/admin/listpd" class="btn btn-info" role="button">Back</a>
						</div>
					  </div>
					</form>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		</div>