<div class="right_col" role="main">
        <div class="">
            <div class="row top_tiles">
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <div class="icon"><i class="fa fa-list-alt"></i></div>
                  <div class="count">{{total}}</div>
                  <h3>Total products</h3>
                </div>
              </div>
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <div class="icon"><i class="fa fa-mobile"></i></div>
                  <div class="count">{{catA}}</div>
                  <h3>Mobile phone</h3>
                </div>
              </div>
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <div class="icon"><i class="fa fa-camera"></i></div>
                  <div class="count">{{catB}}</div>
                  <h3>Camera</h3>
                </div>
              </div>
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <div class="icon"><i class="fa fa-laptop"></i></div>
                  <div class="count">{{catC}}</div>
                  <h3>Laptop</h3>
                </div>
              </div>
                <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="tile-stats">
                        <div class="icon"><i class="fa fa-headphones"></i></div>
                        <div class="count">{{catD}}</div>
                        <h3>Headphone</h3>
                    </div>
                </div>
        </div>
</div>
</div>
