 <div class="right_col" role="main">
          <div class="">
            
            <div class="clearfix"></div>

            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2><i>Products in shop</i></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <li><a href="#">Settings 1</a>
                          </li>
                          <li><a href="#">Settings 2</a>
                          </li>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                  
                    <p class="text-muted font-13 m-b-30">
                     
                    </p>
                  
                    <button style="float: right;" class="btn btn-primary" type="submit"><a href="/admin/product/additem" style="text-decoration: none;color:white">Add product</a></button>
                 
                    <table id="datatable" class="table table-striped table-bordered">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Category</th>
                          <th>Price</th>
                          <th>Quantity</th>
                          <th>Detail</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        {{#each products}}
                        <tr>
                          <td>{{this.name}}</td>
                          <td>{{this.category}}</td>
                          <td>{{this.price}}</td>
                          <td>{{this.quantity}}</td>
                          <td>{{this.info}}</td>
                          <td>
                              <a href="/admin/product/update/{{this.id}}" class="btn btn-warning">Update</a>
                              <a href="/admin/product/delete/{{this.id}}" class="btn btn-danger">Remove</a>
                          </td>
                        </tr>
                        {{/each}}                    
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              </div>
              </div>
              </div>