<!-- content-section-starts -->
<div class="content">
	<div class="container">
		<div class="login-page">
			<div class="dreamcrub">
				<ul class="breadcrumbs">
					<li class="home">
						<a href="/index" title="Go to Home Page">Home</a>&nbsp;
						<span>&gt;</span>
					</li>
					<li class="women">
						Login
					</li>
				</ul>
				<div class="clearfix"></div>
			</div>
			<div class="account_grid">
				<div class="col-md-6 login-left wow fadeInLeft" data-wow-delay="0.4s">
					<h2>NEW CUSTOMERS</h2>
					<p>By creating an account with our store, you will be able to move through the checkout process faster, store multiple shipping addresses, view and track your orders in your account and more.</p>
					<a class="acount-btn" href="/user/register">Create an Account</a>
				</div>
				<div class="col-md-6 login-right wow fadeInRight" data-wow-delay="0.4s">
					<h3>REGISTERED CUSTOMERS</h3>
					<p>If you have an account with us, please log in.</p>
                    {{#if hasErr}}
                        <div class="arler alert-danger">
                            {{#each mess}}
                                <p style="color: red">{{this}}</p>
                            {{/each}}
                        </div>
                    {{/if}}
					<form method="post">
						<div>
							<span>Username<label>*</label></span>
							<input type="text" name="username" required>
						</div>
						<div>
							<span>Password<label>*</label></span>
							<input type="password" name="password" required>
						</div>
                        <input type="hidden" name="_csrf" value="{{csrfToken}}">
						<input type="submit" value="Login">
                        <a class="forgot" href="/user/forgot">Forgot Your Password?</a>
					</form>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
</div>