<div class="container">
    <h2 class="page-header">Update Info</h2>
    <br>
	<div class="col-md-8 col-md-offset-2">
		<form class="form-horizontal" method="post">
			<div class="form-group">
				<label class="control-label col-sm-2" for="name">Full Name:</label>
				<div class="col-sm-10">
					<input type="text" class="form-control" id="name" name="name" value="{{us.name}}">
				</div>
			</div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="name">Address:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="address" name="address" value="{{us.address}}">
                </div>
            </div>
			<div class="form-group">
                <div class="col-sm-12 text-right">
					<button type="submit" class="btn btn-info">Submit</button>
                </div>
			</div>
		</form>
	</div>
</div>
