<div class="container">
    <h2 class="page-header">Change Password</h2>
    <br>
    <div class="col-md-8 col-md-offset-2">
        <div class="alert alert-info {{#if mess}}{{else}}hidden{{/if}}">
            {{mess}}
        </div>
        <form class="form-horizontal" method="post">
            <div class="form-group">
                <label class="control-label col-sm-3" for="curpass">Current pass:</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" id="curpass" name="curpass" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3" for="pass">New pass:</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" id="pass" name="pass" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3" for="repass">Re-enter new pass:</label>
                <div class="col-sm-9">
                    <input type="password" class="form-control" id="repass" name="repass" required>
                </div>
            </div>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <div class="form-group">
                <div class="col-sm-12 text-right">
                    <button type="submit" class="btn btn-info">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>