<!-- checkout -->
<div class="cart-items">
	<div class="container">
		<div class="dreamcrub">
			<ul class="breadcrumbs">
				<li class="home">
					<a href="/index" title="Go to Home Page">Home</a>&nbsp;
					<span>&gt;</span>
				</li>
				<li class="women">
					Cart
				</li>
			</ul>
			<div class="clearfix"></div>
		</div>
		<h2>SHOPPING BAG</h2>
        {{#if products}}
		<div class="cart-gd">
            {{#each products}}
                <div class="cart-header">
                    <div class="cart-sec simpleCart_shelfItem">
                        <div class="cart-item cyc">
                            <img src="/images/{{this.item.avatar}}" class="img-responsive" alt="">
                        </div>
                        <div class="cart-item-info">
                            <h3><a>{{this.item.name}}</a></h3>
                            <ul class="qty">
                                <li><p>Quantity: {{this.qty}}</p></li>
                                <li><p>FREE delivery</p></li>
                            </ul>
                            <div class="delivery">
                                <p>Total prices: {{this.price}} đ</p>
                                <span>Delivered in 1-1:30 hours</span>
                                <div class="clearfix"></div>
                            </div>
                            <div class="delivery">
                                <span><div class="btn-group">
                                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Action</button>
                                    <ul class="dropdown-menu">
                                        <li><a href="/addtocart/{{this.item._id}}">Increase by 1</a></li>
                                        <li><a href="/coReduce1/{{this.item._id}}">Reduce by 1</a></li>
                                        <li><a href="/coDel/{{this.item._id}}">Remove All</a></li>
                                    </ul>
                                </div></span>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            {{/each}}
            <div class="row text-right">
                <div class="col-md-10">
                    <p><strong>Total: {{total}} đ</strong></p>
                </div>
                <div class="col-md-2 text-center">
                    <a href="/purchase" class="btn btn-info" role="button">Purchase</a>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        {{else}}
        <div class="cart-gd text-center">
            <div class="alert alert-success {{#if mess}}{{else}}hidden{{/if}}">
                {{mess}}
            </div>
                <strong>Your cart is empty.</strong>
        </div>
        {{/if}}
</div>
</div>
</div>