<!DOCTYPE html>
<html>
<head>
	<title>Super Shop</title>
    <link rel="icon" href="/images/cart.png">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/js/jquery.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link href="/css/bootstrap.css" rel='stylesheet' type='text/css' />
	<!-- Custom Theme files -->
	<link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/component.css" rel='stylesheet' type='text/css' />
	<!-- Custom Theme files -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="keywords" content="Eshop Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
	Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!--webfont-->
    <!-- for bootstrap working -->
    <script src="/js/bootstrap-3.1.1.min.js"></script>
    <!-- //for bootstrap working -->
    <!-- cart -->
    <script src="/js/simpleCart.min.js"> </script>
    <!-- cart -->
	<link rel="stylesheet" href="/css/flexslider.css" type="text/css" media="screen" />
</head>
<body>
<div id="fb-root"></div>
<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9&appId=1840370892947727";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));
</script>
	<!-- header-section-starts -->
	<div class="header">
		<div class="header-top-strip">
			<div class="container">
                {{#if avai}}
                    <script>
                        $( function() {
                            var availableTags = {{{avai}}};
                            $( "#search" ).autocomplete({
                                source: availableTags
                            });
                        } );
                    </script>
                {{/if}}
                <form method="post" action="/search" class="header-top-left navbar-form" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" id="search" name="search" placeholder="Search" autocomplete="off">
                    </div>
                    <button type="submit" class="btn btn-default">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </form>
				<div class="header-right">
                        <div class="cart box_1">
                            <a href="/checkout">
                                {{#if session.cart}}
                                    <h3> <span style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif"> {{session.cart.totalPrice}} đ</span>
                                        (<span style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif">{{session.cart.totalQty}} </span> items)
                                        <img src="/images/bag.png" alt="">
                                    </h3>
                                {{else}}
                                    <h3> <span style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif"> 0 đ</span>
                                        (<span style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif">0 </span> items)
                                        <img src="/images/bag.png" alt="">
                                    </h3>
                                {{/if}}
						</a>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- header-section-ends -->
	<div class="inner-banner">
		<div class="container">
			<div class="banner-top inner-head">
				<nav class="navbar navbar-default" role="navigation">
					<div class="navbar-header" style="width: 300px">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<div class="logo">
							<h1><a href="/index"><span>S</span> -Shop</a></h1>
						</div>
					</div>
					<!--/.navbar-header-->

					<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
						<ul class="nav navbar-nav">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Mobile <b class="caret"></b></a>
								<ul class="dropdown-menu multi-column columns-2">
									<div class="row">
										<div class="col-sm-6">
											<ul class="multi-column-dropdown">
												<h6>APPLE</h6>
												<li><a href="/tag/mobile/apple">Iphone 6s +</a></li>
												<li><a href="/tag/mobile/apple">Iphone 7</a></li>
												<li><a href="/tag/mobile/apple">Iphone 7 red</a></li>
											</ul>
										</div>
										<div class="col-sm-6">
											<ul class="multi-column-dropdown">
												<h6>SAMSUNG</h6>
												<li><a href="/tag/mobile/samsung">Galaxy S7</a></li>
												<li><a href="/tag/mobile/samsung">Galaxy S8</a></li>
												<li><a href="/tag/mobile/samsung">Galaxy Note</a></li>
											</ul>
										</div>
										<div class="clearfix"></div>
									</div>
								</ul>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">Laptop <b class="caret"></b></a>
								<ul class="dropdown-menu multi-column columns-2">
									<div class="row">
										<div class="col-sm-6">
											<ul class="multi-column-dropdown">
												<h6>Producer</h6>
												<li><a href="/tag/laptop/apple">Apple</a></li>
                                                <li><a href="/tag/laptop/dell">Dell</a></li>
                                                <li><a href="/tag/laptop/asus">Asus</a></li>
                                                <li><a href="/tag/laptop/msi">Msi</a></li>
											</ul>
										</div>
										<div class="clearfix"></div>
									</div>
								</ul>
							</li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Camera <b class="caret"></b></a>
                                <ul class="dropdown-menu multi-column columns-2">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <ul class="multi-column-dropdown">
                                                <h6>Producer</h6>
                                                <li><a href="/tag/camera/canon">Canon</a></li>
                                                <li><a href="/tag/camera/sony">Sony</a></li>
                                                <li><a href="/tag/camera/fujifilm">Fuji</a></li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Headphone <b class="caret"></b></a>
                                <ul class="dropdown-menu multi-column columns-2">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <ul class="multi-column-dropdown">
                                                <h6>Producer</h6>
                                                <li><a href="/tag/headphone/sony">Sony</a></li>
                                                <li><a href="/tag/headphone/beats">Beats</a></li>
                                                <li><a href="/tag/headphone/remax">Remax</a></li>
                                                <li><a href="/tag/headphone/ibomb">Ibomb</a></li>
                                            </ul>
                                        </div>
                                        <div class="clearfix"></div>
                                    </div>
                                </ul>
                            </li>
                            {{#if login}}
                                <li><a href="/profile"><span class="glyphicon glyphicon-user"> </span>Profile</a></li>
                                <li><a href="/user/logout"><span class="glyphicon glyphicon-log-out"> </span> Logout</a></li>
                            {{else}}
                                <li><a href="/user/account"><span class="glyphicon glyphicon-log-in"> </span> Login</a></li>
                                <li><a href="/user/register"><span class="glyphicon glyphicon-lock"> </span>Register</a></li>
                            {{/if}}
                        </ul>
					</div>
					<!--/.navbar-collapse-->
				</nav>
				<!--/.navbar-->
			</div>
		</div>
	</div>

	{{{body}}}


	<div class="footer">
		<div class="container">
			<div class="footer_top">
				<div class="span_of_4">
					<div class="col-md-4 span1_of_4">
						<h4>Shop</h4>
						<ul class="f_nav">
							<li><a href="/products">products</a></li>
							<li><a href="/tag/mobile">phone</a></li>
							<li><a href="/tag/laptop">laptop</a></li>
							<li><a href="/tag/camera">camera</a></li>
							<li><a href="/tag/headphone">headphone</a></li>
						</ul>
					</div>
					<div class="col-md-4 span1_of_4">
						<h4>Account</h4>
						<ul class="f_nav">
							<li><a href="/user/account">login</a></li>
							<li><a href="/user/register">create an account</a></li>
							<li><a href="/checkout">my shopping bag</a></li>
						</ul>
					</div>
                    <div class="col-md-4 span1_of_4">
                        <h4>Help</h4>
                        <ul class="f_nav">
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">contact</a></li>
                        </ul>
                    </div>
					<div class="clearfix"></div>
				</div>
			</div>
			<div class="cards text-center">
				<img src="/images/cards.jpg" alt="" />
			</div>
			<div class="copyright text-center">
				<p>© 2015 Eshop. All Rights Reserved | Design by   <a href="http://w3layouts.com">  W3layouts</a></p>
			</div>
		</div>
	</div>
<script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o), m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-101721534-1', 'auto');
    window.onload = function(){
    	ga('send', 'pageview');
	};
</script>
</body>
</html>
