<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title ></title>
</head>
<body>
<p>User name: {{un}}</p>
<p>New pass: {{pw}}</p>
<p>If you don't recognize this email, just ignore it. Thank you!</p>
<p>Please don't reply this email.</p>
</body>
</html>