<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>Order List</h2>
            {{# each orders }}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <ul class="list-group">
                            {{# each this.items }}
                                <li class="list-group-item">
                                    <span class="badge">{{ this.price }} đ</span>
                                    {{ this.item.name }} | {{ this.qty }} Units
                                </li>
                            {{/each}}
                        </ul>
                    </div>
                    <div class="panel-footer">
                        <strong>Total Price: {{ this.cart.totalPrice }} đ</strong>
                    </div>
                </div>
            {{/each}}
        </div>
    </div>
</div>