<!-- content-section-starts -->
<div class="container">
	<div class="products-page">
		<div class="products">
			<div class="product-listy">
				<h2>our Products</h2>
				<ul class="product-list">
					<li><a href="/tag/mobile">Phone</a></li>
					<li><a href="/tag/laptop">Laptop</a></li>
                    <li><a href="/tag/camera">Camera</a></li>
					<li><a href="/tag/headphone">Headphone</a></li>
				</ul>
			</div>
			<div class="latest-bis">
				<a href="/tag/mobile">
				<img src="/images/p11.jpg" class="img-responsive" alt="">
				<div class="offer">
					<p>Hot</p>
				</div>
				</a>
			</div>
			<div class="tags">
				<h4 class="tag_head">Tags Widget</h4>
				<ul class="tags_links">
					<li><a href="/tag/all/apple">Apple</a></li>
                    <li><a href="/tag/all/samsung">Samsung</a></li>
					<li><a href="/tag/all/sony">Sony</a></li>
					<li><a href="/tag/all/asus">Asus</a></li>
					<li><a href="/tag/all/dell">Dell</a></li>
					<li><a href="/tag/all/msi">MSI</a></li>
					<li><a href="/tag/all/canon">Canon</a></li>
					<li><a href="/tag/all/remax">Remax</a></li>
				</ul>
			</div>

		</div>
		<div class="new-product">
			<div class="new-product-top">
				<ul class="product-top-list">
					<li><a href="/index">Home</a>&nbsp;<span>&gt;</span></li>
                    <li><span class="act"><a href="/products">Products</a></span>&nbsp;</li>
				</ul>
				<div class="clearfix"></div>
			</div>
			<div class="mens-toolbar">
				<div class="sort">
					<div class="sort-by">
						<label>Sort By</label>
						<select>
							<option value="">
								Position                </option>
								<option value="">
									Name                </option>
									<option value="">
										Price                </option>
									</select>
									<a href=""><img src="/images/arrow2.gif" alt="" class="v-middle"></a>
								</div>
							</div>
							<ul class="women_pagenation">
								<li>Page:</li>
								<li class="active"><a href="#">1</a></li>
								<li><a href="#">2</a></li>
							</ul>
							<div class="clearfix"></div>
						</div>
						<div id="cbp-vm" class="cbp-vm-switcher cbp-vm-view-grid">
							<div class="cbp-vm-options">
								<a href="#" class="cbp-vm-icon cbp-vm-grid cbp-vm-selected" data-view="cbp-vm-view-grid" title="grid">Grid View</a>
								<a href="#" class="cbp-vm-icon cbp-vm-list" data-view="cbp-vm-view-list" title="list">List View</a>
							</div>
							<div class="pages">
								<div class="limiter visible-desktop">
									<label>Show</label>
									<select>
										<option value="" selected="selected">
											9                </option>
											<option value="">
												15                </option>
												<option value="">
													30                </option>
												</select> per page
											</div>
										</div>
										<div class="clearfix"></div>
										<ul>
                                            {{#each items}}
											<li>
                                                <div class="simpleCart_shelfItem"><a class="cbp-vm-image" href="/viewpd/{{id}}">
                                                    <div class="view view-first">
                                                        <div class="inner_content clearfix">
                                                            <div class="product_image">
                                                                <img src="/images/{{avatar}}" class="img-responsive" alt="">
                                                                <div class="mask">
                                                                    <div class="info">Quick View</div>
                                                                </div>
                                                                <div class="product_container">
                                                                    <div class="cart-left">
                                                                        <p class="title">{{name}}</p>
                                                                    </div>
                                                                    <div class="pricey"><span class="item_price">{{price}}</span></div>
                                                                    <div class="clearfix"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </a>
                                                    <div class="cbp-vm-details">{{info}}</div>
                                                    <a class="cbp-vm-icon cbp-vm-add item_add" href="/addtocart/{{id}}">Add to cart</a>
                                                </div>
										</li>
                                         {{/each}}
            </ul>
</div>
<script src="/js/cbpViewModeSwitch.js" type="text/javascript"></script>
<script src="/js/classie.js" type="text/javascript"></script>
</div>
<div class="clearfix"></div>
</div>
<div class="clearfix"></div>
</div>
<!-- content-section-ends -->