<div class="container">
	<h1 class="page-header">Hi {{un}}!</h1>
	<div class="row grid_3 grid_5">
		<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
			<ul id="myTab" class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="true">Profile</a></li>
                <li role="presentation" class=""><a href="#order" id="order-tab" role="tab" data-toggle="tab" aria-controls="order" aria-expanded="false">My Orders</a></li>
            </ul>
            <div id="myTabContent" class="tab-content">
                <div role="tabpanel" class="tab-pane fade active in" id="profile" aria-labelledby="profile-tab">
                    <div class="row col-md-offset-3 col-md-6">
                        <ul class="list-group">
                            <li class="list-group-item"><strong>Username: </strong> {{un}}</li>
                            <li class="list-group-item"><strong>Email: </strong> {{email}}</li>
                            <li class="list-group-item"><strong>Full name: </strong> {{user.name}}</li>
                            <li class="list-group-item"><strong>Address: </strong> {{user.address}}</li>
                            <li class="list-group-item"><strong>Account type: </strong> {{user.type}}</li>
                            <li class="list-group-item"><strong>Status: </strong> {{active}}</li>
                        </ul>
                        <div class="clear-fix"></div>
                    </div>
                    <div class="row col-md-offset-3 col-md-6">
                        <a href="/change-info" class="btn btn-info" role="button">Update Info</a>
                        <a href="/user/change-pass" class="btn btn-info" role="button">Change Password</a>
                        <div class="clear-fix"></div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="order" aria-labelledby="order-tab">
                    <div class="col-md-8 col-md-offset-2">
                        <h2>Order List</h2>
                        {{# each orders }}
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <ul class="list-group">
                                        {{# each this.items }}
                                            <li class="list-group-item">
                                                <span class="badge">{{ this.price }} đ</span>
                                                {{ this.item.name }} | {{ this.qty }} Units
                                            </li>
                                        {{/each}}
                                    </ul>
                                </div>
                                <div class="panel-footer">
                                    <strong>Total Price: {{ this.cart.totalPrice }} đ</strong>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
                </div>
        </div>
	</div>
</div>