<!-- registration-form -->
<div class="registration-form">
	<div class="container">
		<div class="dreamcrub">
			<ul class="breadcrumbs">
				<li class="home">
					<a href="/index" title="Go to Home Page">Home</a>&nbsp;
					<span>&gt;</span>
				</li>
				<li class="women">
					Registration
				</li>
			</ul>
			<div class="clearfix"></div>
		</div>
		<h2>Registration</h2>
		<div class="registration-grids">
			<div class="reg-form">
                {{#if hasErr}}
                    <div class="arler alert-danger">
                        {{#each mess}}
                            <p>{{this}}</p>
                        {{/each}}
                    </div>
                {{/if}}
				<div class="reg">
					<p>Please enter the following details to complete the registration process.</p>
					<p>If you have previously registered with us, <a href="/user/account">Click here</a></p>
					<form method="post">
                        <ul>
                            <li class="text-info">Username: </li>
                            <li><input type="text" name="username" value=""></li>
                        </ul>
						<ul>
							<li class="text-info">Password: </li>
							<li><input type="password" name="password" value=""></li>
						</ul>
						<ul>
							<li class="text-info">Re-enter Password:</li>
							<li><input type="password" name="repassword" value=""></li>
						</ul>
                        <ul>
                            <li class="text-info">Email: </li>
                            <li><input type="text" name="email" value=""></li>
                        </ul>
                        <input type="hidden" name="_csrf" value="{{csrfToken}}">
						<input type="submit" value="REGISTER NOW">
						<p class="click">By clicking this button, you are agree to our  <a href="#">Policy Terms and Conditions.</a></p>
					</form>
				</div>
			</div>
			<div class="reg-right">
			
				<h3>Completely Free Account</h3>
				<div class="strip"></div>
				<p>Always free and easy to sign up.</p>				
				
				<h3 class="lorem">Benefit</h3>
				<div class="strip"></div>
				<p>Start shopping online from now.</p>
				<p>Receive information about our latest products.</p>
				
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
<!-- registration-form -->