<div class="container">
    <h2 class="page-header">Forgot Password</h2>
    <br>
    <div class="col-md-8 col-md-offset-2">
        <div class="alert alert-info {{#if mess}}{{else}}hidden{{/if}}">
            {{mess}}
        </div>
        <form class="form-horizontal" method="post">
            <div class="form-group">
                <label class="control-label col-sm-3" for="username">Your username:</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3" for="email">Your register email:</label>
                <div class="col-sm-9">
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
            </div>
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <div class="form-group">
                <div class="col-sm-12 text-right">
                    <button type="submit" class="btn btn-info">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>