<!-- content-section-starts -->
<div class="container">
	<div class="products-page">
		<div class="products">
			<div class="product-listy">
				<h2>our Products</h2>
				<ul class="product-list">
                    <li><a href="/tag/mobile">Phone</a></li>
                    <li><a href="/tag/laptop">Laptop</a></li>
                    <li><a href="/tag/camera">Camera</a></li>
                    <li><a href="/tag/headphone">Headphone</a></li>
				</ul>
			</div>
			<div class="latest-bis">
				<a href="/tag/mobile">
				<img src="/images/p11.jpg" class="img-responsive" alt="" />
				<div class="offer">
					<p>Hot</p>
				</div>
				</a>
			</div>
		

		</div>
		<div class="new-product">
			<div class="col-md-5 zoom-grid">
				<div class="flexslider">
					<ul class="slides">
						<li data-thumb="/images/{{img}}">
							<div class="thumb-image"> <img src="/images/{{img}}" data-imagezoom="true" class="img-responsive" alt="" /> </div>
						</li>
                        {{#if subimg}}
                            <li data-thumb="/images/{{subimg.img1}}">
                                <div class="thumb-image"> <img src="/images/{{subimg.img1}}" data-imagezoom="true" class="img-responsive" alt="" /> </div>
                            </li>
                            <li data-thumb="/images/{{subimg.img2}}">
                                <div class="thumb-image"> <img src="/images/{{subimg.img2}}" data-imagezoom="true" class="img-responsive" alt="" /> </div>
                            </li>
                        {{/if}}
					</ul>
				</div>
			</div>
			<div class="col-md-7 dress-info">
				<div class="dress-name">
					<h3>{{name}}</h3>
					<span>{{price}} đ</span>
					<div class="clearfix"></div>
					<p>{{detail}}</p>
				</div>
				<div class="span span2">
					<p class="left">PRODUCER</p>
					<p class="right">{{producer}}</p>
					<div class="clearfix"></div>
				</div>
				<div class="span span3">
					<p class="left">VIEW</p>
					<p class="right">{{view}}</p>
					<div class="clearfix"></div>
				</div>
				<div class="purchase">
					<a href="/addtocart/{{id}}">Add to Cart</a>
					<div class="social-icons">
						<ul>
							<li><a class="facebook1" href="#"></a></li>
							<li><a class="twitter1" href="#"></a></li>
							<li><a class="googleplus1" href="#"></a></li>
						</ul>
					</div>
					<div class="clearfix"></div>
				</div>
				<script src="/js/imagezoom.js"></script>
				<!-- FlexSlider -->
				<script defer src="/js/jquery.flexslider.js"></script>
				<script>
// Can also be used with $(document).ready()
$(window).load(function() {
	$('.flexslider').flexslider({
		animation: "slide",
		controlNav: "thumbnails"
	});
});
</script>
</div>
<div class="clearfix"></div>
<div class="reviews-tabs">
	<!-- Main component for a primary marketing message or call to action -->
	<ul class="nav nav-tabs responsive hidden-xs hidden-sm" id="myTab">
        <li class="test-class active"><a class="deco-none" href="#source">Comments</a></li>
		<li class="test-class"><a class="deco-none misc-class" href="#how-to"> More Information</a></li>
	</ul>

	<div class="tab-content responsive hidden-xs hidden-sm">
        <div class="tab-pane active" id="source">
            <div class="response">
                <div class="fb-comments" data-href="" data-width="600" data-numposts="5"></div>
            </div>
        </div>
		<div class="tab-pane" id="how-to">
			<p class="tab-text">Thông tin liên hệ : Duy Anh , Tuệ Anh, Hữu Quang . Lập trình Web 2017 </p>
		</div>
    </div>
</div>

</div>
<div class="clearfix"></div>
</div>
</div>
<div class="other-products products-grid">
    <div class="container">
        <header>
            <h3 class="like text-center">Related Products</h3>
        </header>
        {{#if relate}}
            {{#each relate}}
                <div class="col-md-4 product simpleCart_shelfItem text-center">
                    <a href="/viewpd/{{id}}"><img src="/images/{{avatar}}" alt="" /></a>
                    <div class="mask">
                        <a href="/viewpd/{{id}}">Quick View</a>
                    </div>
                    <a class="product_name" href="/viewpd/{{id}}">{{name}}</a>
                    <p><a class="item_add"><i></i> <span class="item_price">{{price}} đ</span></a></p>
                </div>
            {{/each}}
        {{/if}}
        <div class="clearfix"></div>
    </div>
</div>
					<!-- content-section-ends -->

<script src="/js/responsive-tabs.js"></script>
<script type="text/javascript">
    $( '#myTab a' ).click( function ( e ) {
        e.preventDefault();
        $( this ).tab( 'show' );
    } );

    $( '#moreTabs a' ).click( function ( e ) {
        e.preventDefault();
        $( this ).tab( 'show' );
    } );

    ( function( $ ) {
// Test for making sure event are maintained
$( '.js-alert-test' ).click( function () {
	alert( 'Button Clicked: Event was maintained' );
} );
fakewaffle.responsiveTabs( [ 'xs', 'sm' ] );
} )( jQuery );

</script>